/Entrega_01/Apresentação em vídeo - 1° entrega.mp4
/Entrega_01/Projeto da Disciplina de Fundamentos de Bancos de Dados 2024 - Entrega 1.pdf

/Entrega_02/Apresentação em vídeo - 2° Entrega.mp4
/Entrega_02/Relatorio - 2° entrega.pdf
/Entrega_02/Projeto da Disciplina de Fundamentos de Bancos de Dados 2024 - Entrega 2.pdf

/Entrega_03/Entrega 3 - Projeto da Disciplina de Fundamentos de Bancos de Dados 2024.pdf
/Entrega_03/CRUDs/template

toDo.md